nav{
    background-color: black;
}
#navbarNav
{

    ul
    {
        border: 3px solid $yellow;
        li
        {
            padding-left:20px;
            padding-right:20px;
            
            @extend .fw-bold;
            a
            {
                color:$yellow;
                text-decoration: none;
            }
        }
        .special
        {
            @extend .fw-bold;
            background-color:$yellow;
            a
            {
                color: $text-color-table;
            }
            
        }
    }
    
}